{% extends "MzPictorialBundle::base.html.twig" %}



{% block body_content %}
    <div class="row">
        <div class="col-md-4">
            <h1 class="page-header"><i class="fa fa-key fa-fw"></i>Zmiana hasła</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_start(form, {action: path('password') , attr: { novalidate: 'novalidate'} }) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.plainPassword, {attr: {autocomplete: 'off'}}) }}
                </div>
            </div>
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-success">Zmień</button>
            <a href="{{ path('dashboard') }}" class="btn btn-default">Anuluj</a>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock body_content %}
