{% extends "MzPictorialBundle::base.html.twig" %}

{% block body_content %}
    <div class="row">
        <div class="col-md-4">
            <h1 class="page-header"><i class="fa fa-tags fa-fw"></i>Dodaj kategorię</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            {{ form_start(form, {action: path('category_add') , attr: { novalidate: 'novalidate'} }) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.name) }}
                </div>

            </div>

            {{ form_rest(form) }}
            <button type="submit" class="btn btn-success">Zapisz</button>
            <a href="{{ path('category_list') }}" class="btn btn-default">Anuluj</a>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock body_content %}
